<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <% if(weekday === "Saturday"){ %>
    <h1 style="color:brown">This is <%= thisday %></h1>
    <% }else{ %>
    <h1 style="color:blue">This is <%= thisday %></h1>
    <% } %>

    <h3><a style="color:green; text-decoration:none;" href="form">Go to work >></a></h3>
</body>
</html>