@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
input{
    padding: 0 10px;
    margin:  5px auto;
    border-color: red;
    border-radius: 3px;
    width: 150px;
    height: 30px;
}
.form{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
button{
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: brown;
    padding: 10px 20px;
    margin: 5px auto;
    color: aliceblue;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
button:hover{
    border: 2px solid brown;
    background-color: #fff;
    color: brown;
    font-weight: bold;
}